<!-- <ul materialize="sideNav" id="slide-out" class="side-nav grey lighten-3">
  <li routerLinkActive="active">
    <a class="black-text" routerLink="/dashboard/server">
      <i class="material-icons">event_note</i> Server Dashboard</a>
  </li>

  <li routerLinkActive="active">
    <a class="black-text" routerLink="/dashboard/upload">
      <i class="material-icons">event_note</i> Upload Documents</a>
  </li>
</ul> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>